@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");

.card-container {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

.empty-message{
  text-align: center;
  font-family: "Arima", cursive;
  font-size: 3rem;
  color: aqua;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #f38e82;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 1500px) {
  .card-container {
    width: 40vw;
    margin:10%;
  }
}
@media (max-width: 1170px) {
  .card-container {
    width: 30vw;
    margin:5%;
  }
}
@media (max-width: 500px) {
  .card-container {
    width: 10vw;
    margin:10%;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
}
