@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.page-handler{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem 0;
}

.arrow{
    color: var(--color2);
    font-weight: bold;
    font-size: x-large;
    cursor:pointer;
    transition: transform 0.25s ease-out;
}
.arrow:hover{
    transform: scale(1.5);
}

.value{
    color: var(--color2);
    border-radius: 5px;
    padding: 0.4rem 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:xx-large;
    margin: 0 20px;
}