@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.navigation-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.link-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.nav-link {
  color: aqua;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
}

.main-logo {
  height: 35px;
  width: 250px;
}

@media (max-width: 500px) {
  .logo-container {
    height: 50%;
    width: 30px;
  }

  .link-container {
    width: 10%;
    height: 40%;
    font-size: smaller;
  }

  .main-logo {
    height: 15px;
    width: 120px;
  }
}
