@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.navigation-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.link-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.nav-link {
  color: var(--color2);
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
  border-right: 2px solid var(--color2);
  transition: 0.6s;
}

.nav-link:hover {
  background-color: var(--color1);
}

.nav-link:focus {
  background-color: var(--color1);
  font-size: larger;
}

.nav-link:first-child{
  border-radius: 10px 0 0 10px;
}

.nav-link:last-child {
  border-radius: 0 10px 10px 0;
  border-right: none;
}

.main-logo {
  height: 35px;
  width: 250px;
}

@media (max-width: 500px) {
  .logo-container {
    height: 50%;
    width: 30px;
  }

  .link-container {
    width: 40px;
    height: 25px;
    font-size: smaller;
    margin-top: 23%;
    width: 100%;
  }

  .links {
    border-radius: 5px;
    background: var(--color1);
    opacity: 80%;
    margin-right: -15px;
  }

  .nav-link {
    display: block;
    border-right: none;
    border-bottom: 2px solid var(--color2);
    text-align: center;
  }

  .nav-link:first-child{
    border-radius: 0px;
  }

  .nav-link:last-child {
    border-bottom: none;
  }

  .deactive {
    display: none;
  }

  .main-logo {
    height: 15px;
    width: 120px;
  }
}
