@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");

.episodes-card-container {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  padding-bottom: 5%;
}

.episodes-container-header{
  display: flex;
  justify-content:center;
  padding-right: 15% ;
}

.episodes-container-titles{
  padding-left: 25%;

}
.episodes-container-arrow-logo{
  margin: 4rem 0 1rem 1rem;
  fill:var(--color2);
  transition: transform 0.25s ease-out;
  
}
.episodes-container-arrow-logo:hover{
  cursor: pointer;
  transform: scale(1.5);
}

.episodes-page-title {
  text-align: center;
  font-family: "Arima", cursive;
  font-size: 3rem;
  color: var(--color2);
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
  padding: 2% 0 0 0;
}

.episodes-season-title{
  text-align: center;
  font-family: "Arima", cursive;
  font-size: 1.5rem;
  color: var(--color2);
  padding-bottom: 2%;
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

@media (max-width: 1500px) {
  .episodes-card-container {
    width: 40vw;
    margin:0 10%;
  }
}
@media (max-width: 1170px) {
  .episodes-card-container {
    width: 30vw;
    margin:0 5%;
  }
}
@media (max-width: 500px) {
  .episodes-card-container {
    width: 10vw;
    margin:10%;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  .episodes-container-header {
    zoom: 0.6;
    -moz-transform: scale(0.8);
  }
}
