@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.card {
  display: flex;
  flex-direction: column;
  background-color: #434bc0;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 0px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  /* transform: translateZ(0); */
  transition: transform 0s ease-out;
}

.card:hover {
  transform: scale(1.04);
}

.movie-title {
  color: aqua;
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rating-container {
  display: flex;
}

.star-logo {
  margin: 0.5rem 0.5rem;
  height: 2rem;
}

.notes-container {
  padding-top: 0.3rem;
  font-size: smaller;
  color: aqua;
  font-family: "Noto Sans JP", sans-serif;
}

.release-date {
  color: #eeff00;
  font-family: "Noto Sans JP", sans-serif;
}

.bookmark-logo {
  margin-left: 85%;
  position: absolute;
  height: auto;
  width: 40px;
}

@media (max-width: 500px) {
  .bookmark-logo {
    width: 35px;
    padding-right: 15%;
  }
  .card {
    zoom: 0.6;
    -moz-transform: scale(0.8);
  }
}
