@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");

.tvShow-page-title {
  text-align: center;
  font-family: "Arima", cursive;
  font-size: 5rem;
  color: var(--color2);
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.tvShow-page-title-card-container {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  padding-bottom: 3rem ;
}

.empty-message-tv-show{
  text-align: center;
  font-family: "Arima", cursive;
  font-size: 3rem;
  color: var(--color2);
}

@media (max-width: 1500px) {
  .tvShow-page-title-card-container {
    width: 40vw;
    margin: 10%;
  }
}
@media (max-width: 1170px) {
  .tvShow-page-title-card-container {
    width: 30vw;
    margin: 5%;
  }
}
@media (max-width: 500px) {
  .tvShow-page-title-card-container {
    width: 10vw;
    margin: 10%;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  .tvShow-page-title {
    font-size: 2rem;
  }
}
